## EBA/PES Nippes-Haiti: Baseline evaluation data cleaning and summary analysis

In [1]:
#Import the necessary modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Help to display very large datasets. That means dataset with a lot of columns.

pd.set_option('display.max_colwidth', 20000)

In [3]:
#Use os and sys to setup a relative path to the current working directory in order to make python modules import easier.
import os
import sys

In [4]:
sys.path.append(os.path.join(os.path.dirname('__file__'), '..', 'utils'))

In [5]:
#functions is a module from the utils package. It gathers all the utility functions to perferm aggregation on columns.
from functions import *

In [6]:
#Read the csv file and ingest the data with pandas

farmers_df = pd.read_csv("../datasets/baseline/input/farmers.csv", encoding="utf-8")

In [7]:
farmers_df.shape

(111, 278)

In [8]:
#Create a copy of the farmers_df to work with.
f_df = farmers_df.copy()

In [9]:
assert len(f_df.columns) == 278

In [10]:
#f_df.head(2)

In [11]:
columns = f_df.columns

In [12]:
#columns

In [13]:
col_name = "Q2 – Sèks"
values = {"Gason":"Male", "Fi":"Female"}

sex_col = rename_col_values(f_df, col_name, values)

In [14]:
f_df["Sex"] = sex_col

In [15]:
sex_def = count_freq_simple_answer(f_df, 'Sex')

In [16]:
sex_def

  response  frequency
0     Male         89
1   Female         21
2     None          1

In [17]:
sex_def.rename(columns={"response":"Sex", "frequency":"Frequencies"})

      Sex  Frequencies
0    Male           89
1  Female           21
2    None            1